@use '../../scss/base.scss' as base;

$card-width: 110px;
$character-image-height: 96px;
$padding: base.$spacing-2;
$box-shadow: 2px 2px 2px -2px base.$color-card-border inset;

.card {
  position: relative;
  display: grid;
  grid-gap: base.$spacing-2;
  width: $card-width;
}

.character {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background: base.$color-card-background;
  -webkit-box-shadow: inset $box-shadow;
  -moz-box-shadow: inset $box-shadow;
  box-shadow: $box-shadow;

  height: $character-image-height;

  img {
    image-rendering: pixelated;
  }
}

.highlight {
  outline: 4px solid base.$color-card-highlight;

  &.winner {
    outline-color: base.$color-card-highlight-winner;
  }
}

.name {
  text-align: center;
  padding: $padding;
  background: base.$color-bluegrey;
}

.stats {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 1px;
  background: base.$color-card-background;
  border: 1px solid base.$color-card-background;

  > * {
    background: base.$color-white;
    padding: $padding;
  }

  .statsRow:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .label, .value {
      justify-self: end;
    }
  }

  .statsRow:nth-child(2) {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr 1fr;
  
    .label, .value {
      justify-self: end;
      align-self: center;
    }

    [id=total] {
      grid-area: 1 / 1 / span 3 / auto;
      justify-self: start;
      align-self: start;
      display: inline-flex;

      svg {
        font-family: monospace;
        color: base.$color-maplestory;
      }
    }
  }
}

.label {
  font-size: small;
  line-height: 16px;
  align-items: center;
}

.value {
  font-weight: 500;
}

.omokIcon {
  position: absolute;
  left: base.$spacing-4;
  bottom: base.$spacing-4;
}

.status {
  position: absolute;
  bottom: 0;

  font-family: "Sigmar One", sans-serif;
  font-size: 34px;
  letter-spacing: -4px;

  transition: transform 0.4s ease-out;
  transform: translateY(12px);

  > span {
    position: relative;
    z-index: 0;

    background-image: linear-gradient(to right, #00aaff, #0010ce);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:before {
      content: attr(data-text);
      position: absolute;
      left: 0;
      z-index: -1;

      -webkit-text-stroke: 8px base.$color-black;
    }

    &:after {
      content: attr(data-text);
      position: absolute;
      left: 0;
      z-index: -2;

      -webkit-text-stroke: 12px white;
    }

    > span {
      &:before {
        content: attr(data-text);
        position: absolute;
        left: 0;
        z-index: 1;

        background-image: linear-gradient(
          -70deg, 
          #fff, transparent,
          #fff, transparent,
          #fff, transparent,
          #fff, transparent,
          #fff, transparent,
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.3;
      }
    }
  }
}
