@use '../../scss/base.scss' as base;

.selectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: base.$spacing-16;
}

.title {
  margin: 0;
  padding: base.$spacing-4;
  text-align: center;
  background: base.$color-text-dark;
  color: base.$color-white;
}

.omokPiecesContainer {
  display: grid;
  grid-gap: base.$spacing-16;
  grid-template-columns: repeat(4, 1fr);
}

.omokPieceButton {
  background: transparent;
  // outline: none;
  border: transparent;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: base.$spacing-64;
  height: base.$spacing-64;

  transition: transform base.$transition;

  &:not(:disabled):hover,
  &:focus-visible {
    &:not(.selected) {
      transform: scale(1.2);
    }
  }

  &.selected {
    transform: scale(1.2) rotate(-20deg);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

$input-line-height: base.$spacing-16;
$input-padding: base.$spacing-4;
$input-border-width: 3px;
$input-height: $input-line-height + $input-padding * 2 + $input-border-width * 2;

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  grid-gap: base.$spacing-4;
}

.inputGroup {
  position: relative;
  display: inline-flex;
  flex-grow: 1;

  input {
    width: 100%;
    border-radius: 100px;
    border: none;
    outline: none;
    border: 3px solid base.$color-bluegrey;

    &:focus-visible {
      border-color: base.$color-pinkteddy;
    }
  }
  
  input, input::placeholder {
    font-size: large;
    padding: base.$spacing-4;
    line-height: $input-line-height;
    text-align: center;
  }
  
  .inputWarning {
    display: none;
    position: absolute;
    top: $input-height;
    margin-top: base.$spacing-4;

    color: base.$color-red;
    font-size: small;

    &.show {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  
    > span {
      margin-left: base.$spacing-4;
      word-wrap: break-word;
      white-space: break-spaces;
    }
  }

  .inputInfo {
    position: absolute;
    right: base.$spacing-6;
    margin: base.$spacing-4 0;
  }
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: base.$input-height;
  padding: base.$spacing-8 base.$spacing-12;
  border-radius: 100px;
  border: none;
  font-size: large;

  &:not(:disabled) {
    // background-image: linear-gradient(to right, base.$color-pinkteddy, base.$color-bloctopus);
    background: base.$color-bluegrey;
    color: base.$color-white;
    
    &:hover, &:focus-visible {
      outline: none;
      background: base.$color-pinkteddy;
    }
  }
}
