@use '../../scss/base.scss' as base;

$icon-width: base.$spacing-24;
$icon-margin: base.$spacing-4;
$tooltip-width: 180px;
$tooltip-padding: base.$spacing-8;
$tooltip-offset: $icon-width + $icon-margin;

.tooltip {
  // margin-left: -$tooltip-offset;
  // margin-right: $icon-margin;

  position: relative;
  display: inline-block;
  border-radius: 100%;

  .tooltipIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: $icon-width;
    height: $icon-width;
  
    border-radius: 100%;
    color: base.$color-bluegrey;
    opacity: 0.5;
  
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
    &:hover, &:focus {
      opacity: 1;
      border-color: base.$color-pinkteddy;
      color: base.$color-pinkteddy;
      outline-color: base.$color-pinkteddy;

      + .tooltipText {
        visibility: visible;
      }
    } 
  }

  .tooltipText {
    position: absolute;
    z-index: 1;
    visibility: hidden;
  
    width: $tooltip-width;
    padding: $tooltip-padding;
    background: base.$color-text-dark;
    color: base.$color-white;
    text-align: left;

    &.top {
      bottom: $tooltip-offset;
      left: 0;
    }

    &.bottom {
      top: $tooltip-offset;
      left: 0;
    }

    &.left {
      top: -$tooltip-padding;
      right: $tooltip-offset;
    }

    &.right {
      top: -$tooltip-padding;
      left: $tooltip-offset;
    }
  }
}
