@use "../../scss/base.scss" as base;

$spinner-width: base.$spacing-32;
$border-width: 5px;

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: $border-width solid base.$color-spinner-border;
  border-top: $border-width solid base.$color-spinner-border-top;
  border-radius: 100%;
  width: $spinner-width;
  height: $spinner-width;
  animation: spin 2s linear infinite;
}
