@use '../../scss/base.scss' as base;

.selectionContainer {
  display: grid;
  grid-gap: base.$spacing-8;
}

.omokPiecesContainer {
  display: grid;
  grid-gap: base.$spacing-8;
  grid-template-columns: repeat(4, 1fr);
}

.omokPieceButton, .startButton {
  transition: base.$transition;

  &:not(:disabled) {
    &:hover {
      transform: scale(1.2);
    }
  }
}

.omokPieceButton {
  border: transparent;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: base.$spacing-64;
  height: base.$spacing-64;
  
  background: transparent;
}

.startButton {
  justify-self: center;
  width: fit-content;
  padding: base.$spacing-8 base.$spacing-16;
  background-image: linear-gradient(to right, base.$color-pinkteddy, base.$color-bloctopus);
  border-radius: 100px;
  border: none;
  font-size: large;
}

.selected {
  opacity: 0.4;
}
