@use '../../scss/base.scss' as base;

.selectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: base.$spacing-16;
}

.title {
  margin: 0;
  padding: base.$spacing-4;
  text-align: center;
  background: base.$color-text-dark;
  color: white;
}

.omokPiecesContainer {
  display: grid;
  grid-gap: base.$spacing-8;
  grid-template-columns: repeat(4, 1fr);
}

.omokPieceButton, .startButton {
  transition: base.$transition;

  &:not(:disabled) {
    &:hover, &:focus {
      transform: scale(1.2);
    }
  }
}

.omokPieceButton {
  border: transparent;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: base.$spacing-64;
  height: base.$spacing-64;
  
  background: transparent;

  &:disabled, &.selected {
    opacity: 0.4;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

$input-line-height: base.$spacing-16;
$input-padding: base.$spacing-4;
$input-border-width: 3px;
$input-height: $input-line-height + $input-padding * 2 + $input-border-width * 2;

.inputRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  grid-gap: base.$spacing-4;
}

.inputGroup {
  position: relative;
  display: inline-block;
  width: 100%;
  flex-grow: 1;

  input {
    border-radius: 100px;
    border: none;
    outline: none;
    border: 3px solid base.$color-bluegrey;

    &:focus {
      border-color: base.$color-pinkteddy;
    }
  }
  
  input, input::placeholder {
    font-size: large;
    padding: base.$spacing-4;
    line-height: $input-line-height;
    text-align: center;
  }
  
  .inputWarning {
    position: absolute;
    top: $input-height;
    margin-top: base.$spacing-4;

    color: base.$color-red;
    font-size: small;
  
    > span {
      word-wrap: break-word;
      white-space: break-spaces;

      &:before {
        content: "\26A0\00A0"; // Warning symbol ⚠
      }
    }
  }
}

.iconButton {
  justify-self: center;
  height: base.$input-height;
  padding: 0 base.$spacing-16;
  border-radius: 100px;
  border: none;
  font-size: large;

  // background-image: linear-gradient(to right, base.$color-pinkteddy, base.$color-bloctopus);
  background: base.$color-bluegrey;
  color: white;
    
  &:hover, &:focus {
    outline: none;
    background: base.$color-pinkteddy;
  }
}
