@use '../../scss/base.scss' as base;

$text-stroke: 4px;
$text-shadow-offset: 6px;

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: base.$spacing-24;
}

.header {
  font-family: base.$font-cherry;
  font-size: 5rem;
  line-height: 5rem;
  margin: 0;
  text-align: center;

  // color: base.$color-text-dark;
  // -webkit-text-stroke: $text-stroke base.$color-text-dark;
  // text-stroke: $text-stroke base.$color-text-dark;
  // text-shadow: -$text-shadow-offset $text-shadow-offset 0 base.$color-bluegrey;

  color: white;
  -webkit-text-stroke: $text-stroke base.$color-bluegrey;
  text-stroke: $text-stroke base.$color-bluegrey;
  text-shadow: -$text-shadow-offset $text-shadow-offset 0 base.$color-bluegrey;
}

.profilesContainer {
  display: grid;
  grid-gap: base.$spacing-8;
  grid-template-columns: repeat(2, 1fr);
}
