@use '../../scss/base.scss' as base;

$tile-width: 3.125rem;
$guideline-point-width: 3px;

.tile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  float: left;
  width: $tile-width;
  height: $tile-width;
  padding: 0;
  
  background: transparent;
  border: none;
}

.guideline {
  &:before, &:after {
    z-index: -1;
    position: absolute;
    display: block;
    background: base.$color-board-guideline;
    content: "";
  }

  &:before {
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
  }

  > span {
    z-index: -1;
    position: absolute;
    display: block;
    width: $guideline-point-width;
    height: $guideline-point-width;
    background: base.$color-board-guideline;
    border-radius: 100%;
  }
}
