@use '../../scss/base.scss' as base;

.omokIcon {
  z-index: 1;
  image-rendering: pixelated;
  width: base.$size-icon;
}

.preview {
  opacity: 0.5;
}

.small {
  zoom: 1;
}

.medium {
  zoom: 2;
}

.large {
  zoom: 3;
}

.xlarge {
  zoom: 4;
}