@use '../../scss/base.scss' as base;

$text-stroke: 8px;

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: base.$spacing-24;
}

.title {
  margin: 0;
 
  font-family: base.$font-title;
  font-size: 10rem;
  line-height: 10rem;
  text-align: center;

  color: base.$color-white;
  -webkit-text-stroke: $text-stroke base.$color-text-dark;
  text-stroke: $text-stroke base.$color-text-dark;
}

.message {
  margin: 0;
  padding: base.$spacing-8;
  font-size: base.$font-size-large;
  background: base.$color-white;
  color: base.$color-text-dark;
}

.button {
  justify-self: center;
  width: fit-content;
  padding: base.$spacing-16 base.$spacing-24;

  border-radius: 100px;
  border: none;

  font-size: 2rem;
  background: base.$color-text-dark;
  color: base.$color-white;
  text-decoration: none;
  &:active, &:visited {
    color: base.$color-white;
  }

  transition: transform base.$transition;
  &:hover {
    transform: scale(1.2);
  }
}