@use "./scss/base.scss" as base;
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nanum+Gothic+Coding&family=Protest+Strike&family=Titan+One&display=swap');

body {
  margin: 0;
}

#root {
  height: 100%;
}

:root {
  height: 100%;
  color-scheme: light dark;

  font-family: base.$font-nanum;
  font-weight: 400;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

input {
  font-family: inherit;
}
