$color-grey: #999;
$color-white: #fff;

$color-board-background: $color-white;
$color-board-guideline: $color-grey;
$color-text-default: $color-grey;
$color-button-selected: salmon;

$size-row: 15;
$size-column: 15;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-40: 40px;
$spacing-64: 64px;